/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "~@angular/material/prebuilt-themes/indigo-pink.css";


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  header {
    height: 10%;
  }
  
  main {
    min-height: calc(100% - (20%));
  }
  
  .content {
    padding-bottom: (height of footer);
  }
  
  footer {
    height: 10%;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  